.cart_page {
  padding: 186px;

  .container {
    display: flex;
    flex-direction: column;
  }
}

.cart_title {
  font-family: $Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #000000;
  margin-bottom: 33px;
}

.cart_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;

  &:before {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    left: 0;
    background: #000;
    height: 3px;
  }
}

.cart_wrap--titles {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 30px;

  .cart_line--title {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #1A1A1A;
    padding: 0 20px 10px;

    &:nth-child(1) {
      width: 70%;
      text-align: left;
    }

    &:nth-child(2) {
      width: 15%;
    }

    &:nth-child(3) {
      width: 15%;
      text-align: right;
    }
  }

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #000;
    content: '';
  }
}

.cart_line {
  position: relative;
  display: flex;
  height: 362px;
  overflow: hidden;
  align-items: center;
}

.cart_line--product {
  width: 70%;
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.cart_line--image {
  position: relative;
  width: auto;
  height: 300px;

  img {
    position: relative;
    width: auto;
    height: 100%;
  }
}

.cart_line--product_title {
  font-family: $Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #1A1A1A;
  margin-bottom: 15px;
}

.cart_line--type {
  font-family: $Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 25px;
}

.cart_line--price {
  font-family: $Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #000000;
}

.cart_line--quantity {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart_line--count {
  display: flex;
  position: relative;
  border-bottom: 3px solid #000;
  padding: 0 10px 6px;
  margin-bottom: 25px;
}

.cart_line--count_minus, .cart_line--count_number, .cart_line--count_plus {
  margin: 0 10px;
  font-family: $Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #1A1A1A;
}

.cart_line--count_remove {
  font-family: $Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  cursor: pointer;
  color: #000000;
}

.cart_line--total {
  width: 15%;
  display: flex;
  justify-content: flex-end;

  .cart_line--total_inner {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #000000;
  }
}

.cart_result {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .cart_result--total {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #1A1A1A;
    margin-bottom: 14px;
  }

  .cart_result--info {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #000000;
  }
}

.cart_finish--title {
  font-family: $Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #1A1A1A;
  margin-bottom: 10px;
}

.cart_finish--form {
  form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    textarea {
      width: 100%;
      max-width: 372px;
      min-width: 300px;
      background: #FFFFFF;
      border: 3px solid #000000;
      height: 90px;
      font-family: $Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.04em;
      color: #B6B6B6;
      padding: 20px;
    }

    button {
      border: none;
    }
  }
}