body {
  font: 400 20px/1.6 $Montaga;
  color: $black;

  &.hidden {
    overflow: hidden;
  }
}

html {
  /*  font-size: .7810vw;*/
  font-size: .8510vw;
  scroll-behavior: smooth;
}

.btn_black {
  padding: 13px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  position: relative;
  transition: background .4s ease-in-out;

  &:hover {
    background: #fff;

    span {
      color: #000;
    }

    &:before, &:after {
      width: 100%;
      height: 99%;
      opacity: 1;
      transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;
    }
  }

  &:before, &:after {
    width: 0%;
    height: 0%;
    opacity: 0;
    transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
    position: absolute;
    content: "";
  }

  &:before {
    top: -5px;
    right: 5px;
    border-top: 1px solid rgb(28, 31, 30);
    border-left: 1px solid rgb(28, 31, 30);
  }

  &:after {
    bottom: -5px;
    left: 5px;
    border-bottom: 1px solid rgb(28, 31, 30);
    border-right: 1px solid rgb(28, 31, 30);
  }

  span {
    text-align: center;
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #E6E6E6;
    transition: color .4s ease-in-out;
  }
}

.btn_white {
  padding: 13px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  position: relative;
  transition: background .4s ease-in-out;

  &:hover {
    background: #000;

    span {
      color: #fff;
    }

    &:before, &:after {
      width: 100%;
      height: 99%;
      opacity: 1;
      transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;
    }
  }

  &:before, &:after {
    width: 0%;
    height: 0%;
    opacity: 0;
    transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
    position: absolute;
    content: "";
  }

  &:before {
    top: -5px;
    right: 5px;
    border-top: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
  }

  &:after {
    bottom: -5px;
    left: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
  }

  span {
    text-align: center;
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #000;
    transition: color .4s ease-in-out;
  }
}

.container {
  width: 100%;
  max-width: 1330px;
  padding: 0 15px;
  margin: auto;
}

.preloader {
  position: fixed;
  top: -3000px;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: top .5s .5s, opacity .4s ease-in-out, visibility .4s ease-in-out;

  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 2px;
    background: #1A1A1A;
    content: '';
    transition: width .4s ease-in-out;
    transform: translateY(-50%);
  }

  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 2px;
    background: #1A1A1A;
    content: '';
    transition: width .4s ease-in-out;
    transform: translateY(-50%);
  }

  .logo {
    position: relative;
    transform: scale(1);
    transition: transform .6s ease-out, opacity .6s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      opacity: 0;
      width: 70px;
      height: auto;
      transition: transform .6s ease-out, opacity .6s ease-in-out;
    }
  }

  &.active {
    transition: 0s;
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0;

    .logo {
      transform: scale(1.6);
    }
  }

  .logo {
    img {
      opacity: 0;
    }
  }


  &.load {
    &:before, &:after {
      width: calc(50% - 70px);
    }

    .logo {
      img {
        opacity: 1;
      }
    }

  }
}


.btn_product {
  margin-top: 55px;
  font-family: $Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  position: relative;
  color: #1A1A1A;

  &:before {
    position: absolute;
    left: -10%;
    bottom: -5px;
    content: '';
    height: 3px;
    width: 120%;
    background: #000;
  }
}

.mobile_menu {
  display: none;
}