@font-face {
  font-family: 'Roboto';
  src: urlCss('fonts/Roboto Medium/Roboto-Medium.eot');
  src: urlCss('fonts/Roboto Medium/Roboto-Medium.eot') format('embedded-opentype'),
  urlCss('fonts/Roboto Medium/Roboto-Medium.woff2') format('woff2'),
  urlCss('fonts/Roboto Medium/Roboto-Medium.woff') format('woff'),
  urlCss('fonts/Roboto Medium/Roboto-Medium.ttf') format('truetype'),
  urlCss('fonts/Roboto Medium/Roboto-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: urlCss('fonts/Montserrat Light/Montserrat-Light.eot');
  src: urlCss('fonts/Montserrat Light/Montserrat-Light.eot') format('embedded-opentype'),
  urlCss('fonts/Montserrat Light/Montserrat-Light.woff2') format('woff2'),
  urlCss('fonts/Montserrat Light/Montserrat-Light.woff') format('woff'),
  urlCss('fonts/Montserrat Light/Montserrat-Light.ttf') format('truetype'),
  urlCss('fonts/Montserrat Light/Montserrat-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: urlCss('fonts/Montserrat SemiBold/Montserrat-SemiBold.eot');
  src: urlCss('fonts/Montserrat SemiBold/Montserrat-SemiBold.eot') format('embedded-opentype'),
  urlCss('fonts/Montserrat SemiBold/Montserrat-SemiBold.woff2') format('woff2'),
  urlCss('fonts/Montserrat SemiBold/Montserrat-SemiBold.woff') format('woff'),
  urlCss('fonts/Montserrat SemiBold/Montserrat-SemiBold.ttf') format('truetype'),
  urlCss('fonts/Montserrat SemiBold/Montserrat-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat';
  src: urlCss('fonts/Montserrat Bold/Montserrat-Bold.eot');
  src: urlCss('fonts/Montserrat Bold/Montserrat-Bold.eot') format('embedded-opentype'),
  urlCss('fonts/Montserrat Bold/Montserrat-Bold.woff2') format('woff2'),
  urlCss('fonts/Montserrat Bold/Montserrat-Bold.woff') format('woff'),
  urlCss('fonts/Montserrat Bold/Montserrat-Bold.ttf') format('truetype'),
  urlCss('fonts/Montserrat Bold/Montserrat-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montaga';
  src: urlCss('fonts/Montaga Regular/Montaga-Regular.eot');
  src: urlCss('fonts/Montaga Regular/Montaga-Regular.eot') format('embedded-opentype'),
  urlCss('fonts/Montaga Regular/Montaga-Regular.woff2') format('woff2'),
  urlCss('fonts/Montaga Regular/Montaga-Regular.woff') format('woff'),
  urlCss('fonts/Montaga Regular/Montaga-Regular.ttf') format('truetype'),
  urlCss('fonts/Montaga Regular/Montaga-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}