footer {
  position: relative;
  background: #000;
  padding: 54px 0 20px;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.footer_left {

}

.footer_logo {
  position: relative;
  width: 100%;
  max-width: 163px;
  height: auto;
  line-height: 0;
  margin-bottom: 69px;
  display: block;


  img {
    position: relative;
    width: 100%;
  }
}

.footer_form {
  display: flex;
  flex-direction: column;

  p {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 139.4%;
    letter-spacing: 0.015em;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    width: 100%;
    max-width: 400px;

    input {
      width: 100%;
      max-width: 246px;
      height: 48px;
      background: #000;
      border: 3px solid #FFFFFF;
      font-family: $Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.04em;
      color: #F4F4F4;
      margin-right: 15px;
      padding-left: 10px;

      &::placeholder {
        font-family: $Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.04em;
        color: #F4F4F4;
      }
    }

    button {
      width: 138px;
      height: 48px;
      left: 333px;
      top: 3131px;
      background: #FFFFFF;
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #000000;
      border: none;
      cursor: pointer;
    }
  }
}

.footer_right {
  display: flex;
  flex-direction: column;

  .social {
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    a {
      margin-right: 35px;
      position: relative;
      display: block;
      line-height: 0;

      &:last-child {
        margin-right: 0;
      }

      &:nth-child(3) {
        img {
          width: 16px;
        }
      }

      &:nth-child(2) {
        img {
          width: 22px;
        }
      }

      img {
        position: relative;
        width: 23px;
        height: auto;
      }
    }
  }

  nav {
    margin: 0;
    display: flex;
    align-items: initial;

    .nav_item {
      display: flex;
      flex-direction: column;

      a {
        font-family: $Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 139.4%;
        letter-spacing: 0.015em;
        color: #FFFFFF;
        margin-bottom: 15px;
      }
    }
  }
}

.copyright {
  margin-top: 33px;
  font-family: $Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.025em;
  color: #FFFFFF;
}


.popup {
  position: fixed;
  top: -200vh;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: top 0s .4s, opacity .4s ease-in-out, visibility .4s ease-in-out;

  &.active {
    top: 0;
    opacity: 1;
    visibility: visible;
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
  }
}

.popup_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 3px solid #000000;
  position: relative;
}

.popup_title {
  font-family: $Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: -0.01em;
  color: #000000;
  width: 100%;
}

.popup_description {
  font-family: $Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.025em;
  color: #000000;
  width: 100%;
}

.popup_form {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 100%;
    background: #FFFFFF;
    border: 3px solid #000000;
    position: relative;
    height: 44px;
    padding-left: 45px;
    font-family: $Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    color: #000;

    &:placeholder {
      color: #B6B6B6;
    }
  }

  .popup_input {
    position: relative;
    width: 100%;
    margin-bottom: 31px;
  }

  button {
    border: none;
    cursor: pointer;
  }
}

.input_email {
  &:before {
    position: absolute;
    top: 50%;
    left: 19px;
    content: url("./../../img/email.png");
    width: 9px;
    z-index: 2;
    transform: translateY(-56%);
  }
}

.input_password {
  &:before {
    position: absolute;
    top: 50%;
    left: 19px;
    content: url("./../../img/password.png");
    width: 9px;
    z-index: 2;
    transform: translateY(-50%);
  }
}

.input_name {
  &:before {
    position: absolute;
    top: 50%;
    left: 19px;
    content: url("./../../img/name.png");
    width: 9px;
    z-index: 2;
    transform: translateY(-50%);
  }
}

.popup_close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  i {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 11px;
    height: 1px;
    background: #B7B7B7;
    transform: rotate(45deg);

    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}

.popup_login {
  .popup_wrap {
    max-width: 474px;
    padding: 133px 70px 28px;
    min-height: 598px;
    justify-content: flex-start;
  }
}

.popup_sign {
  .popup_wrap {
    max-width: 474px;
    padding: 133px 70px 28px;
    min-height: 598px;
    justify-content: flex-start;
  }
}

.popup_trial {
  .popup_wrap {
    max-width: 1000px;
    padding: 85px 65px;
    border: none;
  }

  .popup_description {
    max-width: 330px;
    align-self: flex-start;
    margin-top: 20px;
  }

  .popup_trial--wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 46px -30px 35px;
  }

  .popup_trial--item {
    width: calc(33% - 60px);
    margin: 0 30px 30px;
  }

  .popup_trial--item_icon  {
    position: relative;
    margin-bottom: 24px;

    &:after {
      position: absolute;
      top: 50%;
      right: 0;
      width: calc(100% - 67px);
      height: 1px;
      content: '';
      background: #1A1A1A;
    }

    img {
      position: relative;
      width: 47px;
      height: auto;
    }
  }

  .popup_trial--item_info {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 139.4%;
    letter-spacing: 0.015em;
    color: #000000;
  }
}

.popup_footer--info {
  justify-self: flex-end;
  font-family: $Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.025em;
  color: #000000;
  margin-top: 40px;

  a {
    text-decoration: underline;
  }
}