.free_fs {
  padding: 120px 0;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;

  .free_fs--left {
    width: 100%;
    max-width: 599px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 53px;
      text-align: center;
      letter-spacing: -0.01em;
      color: #000000;
      margin-bottom: 57px;
    }

    .btn_black {
      max-width: 243px;
    }
  }

  .free_fs--bg {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}


.solutions {
  position: relative;
  padding: 84px 0 0;

  h3 {
    font-family: $Montaga;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 69px;
  }
}

.solutions_title {
  font-family: $Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 24px;
}

.solutions_slider {
  margin-bottom: 71px;

  .solutions_item {
    background: #000000;
    padding: 7px;
    margin: 0 20px;
  }

  .solutions_item--info {
    padding: 25px;
  }

  .solutions_item-img {
    position: relative;
    width: 100%;
    height: 270px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 21px;

    img {
      position: relative;
      width: auto;
      height: 100%;
    }
  }

  .solutions_item--title {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    margin-bottom: 31px;
  }

  .solutions_item--list {
    padding: 30px 0;
    margin-bottom: 30px;

    li {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      position: relative;
      margin-bottom: 20px;

      &:last-child {
        &:after {
          content: none;
        }
      }

      &:after {
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 10px;
        height: 2px;
        content: '';
        background: #fff;
      }
    }
  }

  .solutions_item--help {
    margin-bottom: 47px;
    text-align: center;

    p {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #E6E6E6;
      margin-bottom: 20px;
    }

    ul {
      li {
        font-family: $Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #E6E6E6;
        margin-bottom: 10px;
      }
    }
  }

  .solutions_item--buttons {
    display: flex;
    justify-content: space-between;

    .solutions_item--buttons_item {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .btn_white {
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 20px;
      }

      .solutions_price {
        font-family: $Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.015em;
        color: #FFFFFF;
      }
    }
  }
}

.solutions_offer {
  width: 100%;
  max-width: 713px;
  margin: 71px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .solutions_offer--title {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 127.9%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #000000;
    margin-bottom: 11px;
  }

  span {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 127.9%;
    text-align: center;
    letter-spacing: 0.035em;
    color: #707070;
    margin-top: 0;
  }
}