header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
  transition: background .4s ease-in-out;

  &.scroll {
    background: #fff;
    padding-bottom: 20px;
    box-shadow: 0 0 20px rgba(#000, .2);

    .header_top {
      margin-bottom: 10px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header_top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #000000;
  padding: 10px 15px;
  margin-bottom: 29px;
  transition: margin-bottom .4s ease-in-out;

  p {
    font-family: $Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
}

.header_left {
  position: relative;
  display: flex;
  align-items: center;
}

.header_logo {
  position: relative;
  width: 123px;
  height: auto;
  line-height: 0;

  img {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    line-height: 0;
  }
}

nav {
  margin: 0 58px;
  display: flex;
  align-items: center;

  a {
    font-family: $Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.07em;
    margin-right: 51px;

    &:last-child {
      margin-right: 0;
    }

    color: #000000;
  }
}

.header_right {
  display: flex;
  align-items: center;

  a {
    font-family: $Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.07em;
    color: #000000;
  }

  .cart {
    position: relative;
    width: 26px;
    height: 33px;
    margin-left: 33px;

    span {
      position: relative;
      top: 3px;
      right: -7px;
      font-family: $Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.07em;
      color: #000000;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 26px;
      height: auto;
    }
  }
}