.ingredients_fs {
  padding: 120px 0;
  position: relative;
  display: flex;
  align-items: center;
  min-height: calc(753px + 41px);

  .container {
    position: relative;
    z-index: 2;
  }

  .ingredients_fs--bg {
    position: absolute;
    top: 41px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .ingredients_fs--left {
    width: 100%;
    max-width: 598px;

    h1 {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 51px;
      text-align: center;
      letter-spacing: -0.01em;
      color: #FFFFFF;
      margin-bottom: 26px;
    }

    h2 {
      font-family: $Montaga;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #000000;
    }
  }
}

.ingredients_list {
  position: relative;
  padding: 118px 0;
}

.ingredients_list--item {
  position: relative;
  margin-bottom: 86px;

  &.hydro {
    .ingredients_item--wrap {
      .ingredients_item--info {
        .ingredients_item--info_title {
          color: #000;
          &:before {
            background: #48BEF2;
          }
        }

        .ingredients_item--info_list {
          li {
            color: #000;
          }
        }

        .ingredients_more--btn {
          color: #000;
        }
      }
    }
  }

  &.anti {
    .ingredients_item--wrap {
      .ingredients_item--info {
        .ingredients_item--info_title {
          &:before {
            background: #F2F2F2;
          }
        }
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .ingredients_item--title {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 26px;
  }

  .ingredients_item--wrap {
    position: relative;
    display: flex;
    align-items: center;
    background: #F4F4F4;
    padding: 35px;

    .ingredients_item--img {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      img {
        position: relative;
        width: 50%;
        max-width: 250px;
        height: auto;
      }
    }

    .ingredients_item--info {
      position: relative;
      width: 65%;
      padding: 97px 20px 45px;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 383px;

      .ingredients_item--info_wrap {
        width: 100%;
        max-width: 483px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
      }

      .ingredients_item--info_title {
        margin-bottom: 10px;
        font-family: $Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.005em;
        color: #FFFFFF;
        position: relative;

        &:before {
          position: absolute;
          top: -25px;
          left: 0;
          width: 100%;
          content: '';
          height: 5px;
          background: #A8D32C;
        }
      }

      .ingredients_item--info_list {
        margin-bottom: 10px;

        li {
          font-family: $Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 147.7%;
          letter-spacing: 0.015em;
          color: #FFFFFF;
        }
      }

      .ingredients_more--btn {
        font-family: $Montaga;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 129.7%;
        letter-spacing: 0.015em;
        text-decoration-line: underline;
        color: #FFFFFF;
        align-self: flex-end;
      }

      .ingredients_item--info_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: cover;
      }
    }


    .ingredients_list--popup {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 483px;
      height: 70%;
      background: #FFFFFF;
      box-shadow: -3px 1px 11px 5px rgba(0, 0, 0, 0.25);
      z-index: 5;
      padding: 40px;
      opacity: 0;
      visibility: hidden;
      transition: opacity .4s ease-in-out, visibility .4s ease-in-out;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      .ingredients_more--btn_close {
        position: absolute;
        top: 0;
        right: 0;
        width: 11px;
        height: 11px;
        cursor: pointer;
        margin: 20px;

        i {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 1px;
          background: #B7B7B7;

          &:nth-child(1) {
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            transform: rotate(-45deg);
          }
        }
      }

      .ingredients_more--text {
        p {
          font-family: $Montaga;
          font-style: normal;
          font-weight: normal;
          font-size: 21px;
          line-height: 129.7%;
          letter-spacing: 0.015em;
          color: #000000;
        }
      }
    }
  }
}