.home_page--fs {
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
  }

  .home_page--fs_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }
}

.home_page--fs--offer {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #000000;
    margin-bottom: 10px;
  }

  h2 {
    font-family: $Montaga;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 129.7%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 50px;
  }
}


.home_page--philosophy {
  position: relative;
  padding-top: 110px;
  padding-bottom: 50px;
  overflow: hidden;
}

.philosophy_box {
  background: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.philosophy_box--image {
  position: relative;
  width: 100%;
  max-width: 618px;
  height: 564px;
  overflow: hidden;
  margin-right: 110px;
  left: 33px;
  top: -33px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.philosophy_box--info {
  width: 100%;

  h3 {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 67px;
    position: relative;

    &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(31px);
      content: '';
      width: calc(100% + 1000px);
      height: 3px;
      background: #A9CA78;
    }
  }

  .philosophy_box--text {
    width: 100%;
    max-width: 413px;
    margin-bottom: 40px;

    p {
      font-family: $Montaga;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  a {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: #FFFFFF;
  }
}


.home_page--product {
  position: relative;
  padding: 40px 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.home_page--product_slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.p_s--item_wrap {
  width: calc(33% - 80px);
  margin: 40px 40px;
}

.p_s--item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.cleanse {
    .p_s--item_tag {

      &:before {
        background: #A8D32C;
      }

      span {
        color: #A8D32C;
      }
    }
  }

  &.moisturize {
    .p_s--item_tag {

      &:before {
        background: #00A7F2;
      }

      span {
        color: #00A7F2;
      }
    }
  }

  &.resurface {
    .p_s--item_tag {

      &:before {
        background: #B6B6B6;
      }

      span {
        color: #B6B6B6;
      }
    }
  }

  .p_s--item_tag {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    &:before {
      position: absolute;
      bottom: -12px;
      left: 0;
      width: 100%;
      height: 4px;
      content: '';
      background: #000;
    }

    span {
      text-align: center;
      font-family: $Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.02em;
    }
  }

  .p_s--item_photo {
    width: 100%;
    max-width: 220px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 400px;
    margin-bottom: 20px;

    img {
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  .p_s--item_name {
    width: 100%;
    max-width: 190px;
    text-align: center;

    span {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      color: #1A1A1A;
    }
  }

  .p_s--item_price {
    margin-bottom: 30px;

    span {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.04em;
      color: #000000;
    }
  }
}

.home_page--why {
  position: relative;
  padding: 20px 0 38px;
  overflow: hidden;
}

.home_page--why_box {
  position: relative;
  padding: 112px 100px 120px;
  min-height: 569px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }

  .w_b--info {
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 536px;

    h2 {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.07em;
      color: #FFFFFF;
      margin-bottom: 40px;
      position: relative;

      &:before {
        position: absolute;
        bottom: -20px;
        left: -1000px;
        width: calc(100% + 1000px);
        height: 3px;
        background: #00A7F2;
        content: '';
      }
    }

    h3 {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 0.005em;
      color: #FFFFFF;
      margin-bottom: 40px;
    }

    p {
      width: 100%;
      max-width: 437px;
      font-family: $Montaga;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
    }
  }
}
