@media only screen and (orientation: portrait) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1360px) {
  html {
    font-size: 16px;
  }
  .home_page--product {
    overflow: hidden;
  }
  .reasons_item--box {
    overflow: hidden;
  }
}
@media only screen and (max-width: 1178px) {
  .reasons_item{
    &.reasons_item--third, &.reasons_item--fourth {
      margin-top: 70px;
    }
  }
  .reasons_item.reasons_item--first {
    margin-bottom: 70px;
  }
}
@media only screen and (max-width: 978px) {
  .philosophy_box--image {
    margin-right: 50px;
  }
  .ingredients_list--item .ingredients_item--wrap {
    padding-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .reasons_item.reasons_item--first {
    flex-direction: column-reverse;
  }
  .reasons_item.reasons_item--first .reasons_item--img {
    max-width: initial;
    height: 400px;
    margin-bottom: 40px;
  }
  .reasons_item .reasons_item--info {
    max-width: initial;
    margin-left: 0;
  }
  .reasons_item--box {
    padding-left: 20px;
    padding-right: 20px;
  }
  .reasons_item--box .reasons_item.align-end {
    margin-top: 70px;
  }
  .reasons_item--box {
    min-height: initial;
  }
  .reasons_item .reasons_item--info h2, .problems .problems_box--title {
    font-size: 28px;
    line-height: initial;
  }

  .reasons_fs .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .reasons_fs .reasons_fs--left {
    max-width: initial;
  }
  .reasons_fs .reasons_fs--right {
    max-width: initial;
  }
  .free_fs {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .free_fs .free_fs--left h1, .solutions_title, .solutions_offer .solutions_offer--title, .shop_products--reviews_box--wrap .reviews_box--item .reviews_box--item_title {
    font-size: 28px;
    line-height: initial;
  }
  .shop_products--reviews_box {
    padding-left: 20px;
    padding-right: 20px;
  }

  .ingredients_list--item .ingredients_item--title {
    font-size: 22px;
  }
  .ingredients_list--item .ingredients_item--wrap .ingredients_item--info .ingredients_item--info_title {
    font-size: 18px;
  }
  .ingredients_list--item .ingredients_item--wrap .ingredients_item--img img {
    width: 100%;
  }
  .ingredients_fs .ingredients_fs--left h1, .ingredients_fs .ingredients_fs--left h2 {
    text-align: left;
  }
  .home_page--why_box {
    padding-left: 30px;
    padding-right: 30px;
  }
  .home_page--why_box .w_b--info h3 {
    font-size: 28px;
    line-height: initial;
  }
  .philosophy_box {
    flex-direction: column;
    padding: 0 40px 40px;
  }
  .philosophy_box--image {
    margin-right: 0;
    left: 0;
    height: 270px;
  }
  nav {
    display: none;
  }

  .mobile_menu {
    display: block;

    &.active {
      position: relative;
      width: 30px;
      height: 16px;
      margin-left: 20px;

      .burger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 6;

        i {
          background: #fff;

          &:nth-child(1) {
            top: 50%;
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            width: 0;
          }

          &:nth-child(3) {
            top: 50%;
            transform: rotate(-45deg);
          }
        }
      }

      .mobile_menu--list {
        right: 0;
      }
    }

    .burger {
      margin-left: 20px;
      position: relative;
      width: 30px;
      height: 16px;

      i {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background: #1A1A1A;
        transition: .4s ease-in-out;

        &:nth-child(2) {
          top: 50%;
        }

        &:nth-child(3) {
          top: 100%;
        }
      }
    }

    .mobile_menu--list {
      padding: 50px;
      overflow-y: auto;
      position: fixed;
      top: 0;
      right: -200vw;
      width: 80%;
      height: 100%;
      background: #1A1A1A;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: right .4s ease-in-out;
      box-shadow: -80px 0 120px rgba(0, 0, 0, .2);

      a {
        font-family: $Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.07em;
        text-align: center;
        margin: 16px 0;
        color: #fff;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  footer .container {
    flex-direction: column;
    align-items: center;
  }

  .footer_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .footer_logo {
    margin-bottom: 30px;
  }

  .footer_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer_right {
    align-items: center;
    width: 100%;
  }
  .footer_right nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
  }
  .footer_right nav .nav_item {
    align-items: center;

    a {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .shop_products--reviews_box--wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shop_products--reviews_box--wrap .reviews_box--item {
    margin-right: 0;
    width: 100%;
    margin-bottom: 40px;
  }
  .ingredients_list--item .ingredients_item--wrap {
    flex-direction: column;
    align-items: center;
  }
  .ingredients_list--item .ingredients_item--wrap .ingredients_item--info {
    width: 100%;
  }
  .ingredients_list--item .ingredients_item--wrap {
    padding-right: 0;
  }
  .ingredients_list--item .ingredients_item--wrap .ingredients_list--popup {
    height: auto;
  }
}


@media only screen and (max-width: 440px) {
  .reasons_list {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .reasons_item .reasons_item--info .reasons_item--promise p {
    font-size: 24px;
    margin-top: 40px;
  }
  .reasons_item.reasons_item--first .reasons_item--img img {
    height: 100%;
    object-fit: cover;
  }
  .reasons_fs .reasons_fs--bg {
    opacity: .2;
  }
  .reasons_fs .reasons_fs--left h1 {
    color: #000;
  }
  .claim .claim_box .claim_box--title, .claim .claim_box .claim_box--expires {
    font-size: 24px;
  }
  .shop_products--reviews_box {
    flex-direction: column;
    align-items: center;
  }

  .solutions_slider .solutions_item--info {
    padding-left: 10px;
    padding-right: 10px;
  }

  .ingredients_fs .ingredients_fs--left {
    margin-top: -25vh;
  }

  .ingredients_fs .ingredients_fs--left h1 {
    font-size: 28px;
    line-height: initial;
  }
  .ingredients_fs .ingredients_fs--left h1, .ingredients_fs .ingredients_fs--left h2 {
    text-align: left;
  }

  .home_page--why_box .w_b--info h2 {
    font-size: 16px;
  }
  .home_page--why_box .w_b--info p {
    font-size: 14px;
  }
  .home_page--why_box .w_b--info h3 {
    font-size: 22px;
  }
  .home_page--fs--offer {
    margin: 0 auto;
  }
  .home_page--fs--offer h1 {
    font-size: 28px;
  }
  .home_page--fs--offer h2 {
    font-size: 20px;
  }
}