.product_main {
  position: relative;
  padding: 120px 0 85px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product_main--info {
    width: 40%;

    h1 {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 51px;
      letter-spacing: -0.01em;
      color: #000000;
      margin-bottom: 21px;
    }

    .product_description {
      p {
        font-family: $Montaga;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.01em;
        color: #000000;
        margin-bottom: 25px;
      }
    }

    .product_size {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.04em;
      color: #000000;
      margin-bottom: 20px;
    }

    .purchase_type {
      margin-top: 49px;
      margin-bottom: 69px;

      .purchase_type--item {
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        input {
          width: 20px;
          height: 20px;
          margin-right: 12px;
          position: relative;

          &:checked {
            &:after {
              background: #000;
            }
          }

          &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            border: 3px solid #000000;
            content: '';
          }
        }

        .purchase_type--item_info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 60%;

          label, span {
            font-family: $Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 0;
            letter-spacing: 0.04em;
            color: #000000;
          }
        }
      }
    }

    .product_buy {
      display: flex;
      align-items: center;
      width: 100%;

      .product_buy--amount {
        width: 100%;
        max-width: 140px;
        margin-right: 30px;
        display: flex;
        align-items: center;
        border-bottom: solid 3px #000;
        padding: 5px 30px 5px;
        justify-content: space-between;

        .amount--minus, .amount--plus {
          font-family: $Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 28px;
          text-align: center;
          color: #1A1A1A;
          cursor: pointer;
        }

        .amount--count {
          font-family: $Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 28px;
          text-align: center;
          color: #1A1A1A;
        }

        .btn_black {
          width: 100%;
          max-width: 243px;
        }
      }
    }
  }

  .product_main--image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;

    img {
      position: relative;
      width: 100%;
      max-width: 420px;
      height: auto;
    }
  }
}


.product_features {
  position: relative;
  margin-bottom: 125px;

  .product_features--box {
    padding: 90px 20px;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features_box--title {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 70px;
  }

  .features_box--list {
    width: 100%;
    max-width: 570px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 79px;
  }

  .features_box--ingredients {
    li {
      padding-left: 30px;
      position: relative;
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      letter-spacing: 0.015em;
      color: #FFFFFF;
      margin-bottom: 6px;

      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        content: '';
        width: 10px;
        height: 2px;
        background: #fff;
      }
    }
  }

  .features_box--none_ingredients {
    p {
      padding-left: 30px;
      position: relative;
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      letter-spacing: 0.015em;
      color: #FFFFFF;
      margin-bottom: 6px;

      &:before {
        position: absolute;
        top: 4px;
        left: 0;
        content: url("./../../img/none-list.svg");
      }
    }

    a {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #FFFFFF;
      padding-bottom: 5px;
      border-bottom: 1px solid #fff;
    }
  }
}

.features_box--help {
  position: relative;
  width: 100%;
  max-width: 570px;

  .help_title {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 147.7%;
    letter-spacing: 0.015em;
    color: #FFFFFF;
    margin-bottom: 24px;
    position: relative;

    span {
      position: relative;
      z-index: 4;
      background: #000;
      padding-right: 30px;
    }

    &:after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 100%;
      height: 1px;
      content: '';
      background: #fff;
      z-index: 1;
    }
  }

  .help_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      width: 40%;
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      line-height: 147.7%;
      letter-spacing: 0.015em;
      color: #FFFFFF;
      margin-bottom: 6px;
    }
  }
}


.product_reviews {
  .product_reviews--top {
    margin-bottom: 40px;
    padding-bottom: 66px;
    position: relative;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #000;
      content: '';
    }
  }

  .product_reviews--title {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.01em;
    color: #000000;
    margin-bottom: 24px;
  }

  .product_reviews--rate {
    display: flex;
    align-items: flex-end;
  }

  .product_reviews--score {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: #000000;
    margin-right: 15px;
  }

  .product_reviews--stars {
    width: 90px;
    height: auto;
    margin-right: 17px;
  }

  .product_reviews--count {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
  }
}

.product_reviews--item {
  position: relative;
  padding-bottom: 56px;
  margin-bottom: 40px;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    content: '';
  }

  .product_reviews--item_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    .product_reviews--item_title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: -0.015em;
      color: #000000;
    }

    .product_reviews--item_date {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-align: right;
      letter-spacing: 0.105em;
      color: #888888;
    }
  }

  .product_reviews--item_stars {
    width: 60px;
    height: auto;
    margin-bottom: 34px;
  }

  .product_reviews--item_quote {
    font-family: Montaga;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #000000;
    width: 100%;
    max-width: 754px;
    margin-bottom: 27px;
  }

  .product_reviews--item_author {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.055em;
    color: #1A1A1A;
    position: relative;
    padding-left: 15px;

    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 10px;
      height: 2px;
      background: #000;
      content: '';
    }
  }
}


.home_page--product {
  &.product_bought {
    margin-top: 100px;
    padding-bottom: 120px;
  }

  .home_page--product_title {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #000000;
  }
}