.reasons_fs {
  position: relative;
  min-height: 100vh;
  padding: 120px 0;
  display: flex;
  align-items: center;

  .container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
  }

  .reasons_fs--left {
    position: relative;
    width: 100%;
    max-width: 464px;

    h1 {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 34px;
      line-height: 51px;
      letter-spacing: -0.01em;
      color: #FFFFFF;
    }
  }

  .reasons_fs--right {
    width: 100%;
    max-width: 366px;
    margin-top: 40px;

    h2 {
      font-family: $Montaga;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 129.7%;
      letter-spacing: 0.01em;
      color: #000000;
    }
  }

  .reasons_fs--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}


.reasons_list {
  padding: 100px 0;

  .container {
    display: flex;
    flex-direction: column;
  }
}

.reasons_item {
  display: flex;
  justify-content: space-between;

  &.reasons_item--first {
    margin-bottom: 161px;

    .reasons_item--img {
      position: relative;
      width: 100%;
      max-width: 600px;
      overflow: hidden;

      img {
        position: relative;
        width: 100%;
      }
    }
  }

  &.reasons_item--second {
    align-self: flex-end;
  }

  &.reasons_item--third {
    margin-top: -40px;
  }

  &.reasons_item--fourth {
    align-self: flex-end;
    margin-top: -40px;
  }

  .reasons_item--info {
    width: 100%;
    max-width: 450px;
    margin-right: 40px;
    margin-left: 82px;

    h2 {
      position: relative;
      margin-bottom: 36px;
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: -0.015em;
      color: #000000;

      &:before {
        position: absolute;
        top: 50%;
        left: -82px;
        content: '';
        width: 45px;
        height: 16px;
        background: #000;
      }
    }

    .reasons_item--text {
      p {
        margin-bottom: 10px;
        font-family: $Montaga;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 130%;
        letter-spacing: 0.03em;
        color: #000000;
      }
    }

    .reasons_item--promise {
      p {
        font-family: $Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 127.9%;
        letter-spacing: 0.005em;
        color: #000000;
        margin-bottom: 6px;
      }

      ul {
        padding-left: 34px;

        li {
          font-family: $Montserrat;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 143.4%;
          letter-spacing: 0.015em;
          color: #000000;
          position: relative;
          margin-bottom: 10px;

          &:before {
            position: absolute;
            top: 0;
            left: -34px;
            content: url("./../../img/li-icon.svg");
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}


.reasons_item--box {
  position: relative;
  margin: 68px 0 40px;
  padding: 104px 0 60px;
  min-height: 1072px;
  display: flex;
  flex-direction: column;

  .reasons_item {
    position: relative;
    z-index: 3;

    &.align-end {
      align-self: flex-end;
      margin-top: 220px;
    }
  }

  .reasons_item--box_bg {
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}

.problems {
  margin-bottom: 85px;
  .problems_box {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .problems_box--title {
    width: 100%;
    max-width: 590px;
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: -0.01em;
    color: #000000;
    margin-bottom: 24px;
  }

  .problems_box--text {
    width: 100%;
    max-width: 514px;

    p {
      font-family: $Montaga;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 129.7%;
      letter-spacing: 0.01em;
      color: #000000;
    }
  }
}

.claim {
  .claim_box {
    position: relative;
    background: rgba(230, 230, 230, 0.27);
    padding: 28px;
    margin: 0 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .claim_box--title {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: 127.9%;
      text-align: center;
      letter-spacing: 0.005em;
      color: #000000;
    }

    .claim_box--description {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 127.9%;
      text-align: center;
      letter-spacing: 0.035em;
      color: #707070;
      margin-bottom: 21px;
    }

    .btn_black {
      width: 100%;
      max-width: 400px;
    }

    .claim_box--expires {
      margin-top: 21px;
      font-family: $Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: 127.9%;
      text-align: center;
      letter-spacing: 0.005em;
      color: #000000;
    }
  }
}