.reviews_fs {
  position: relative;
  padding: 120px 0;
  display: flex;
  align-items: center;
  min-height: 100vh;

  .container {
    position: relative;
    z-index: 2;
  }


  .reviews_fs--left {
    width: 100%;
    max-width: 587px;

    h1 {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 51px;
      text-align: center;
      letter-spacing: -0.01em;
      color: #000000;
      margin-bottom: 16px;
    }

    h2 {
      font-family: $Montaga;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 129.7%;
      text-align: center;
      letter-spacing: 0.01em;
      color: #000000;
    }
  }

  .reviews_fs--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}

.reviews_list {
  padding: 73px 0 98px;
  position: relative;
  margin-bottom: 20px;
  &:after {
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 80%;
    content: '';
    height: 5px;
    background: #71C8E4;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.reviews_list--title {
  font-family: $Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #000000;
  margin-bottom: 66px;
}

.reviews_list--box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -35px;
}
.reviews_list--item {
  width: calc(33% - 70px);
  margin: 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews_list--img {
  position: relative;
  width: 100%;
  max-width: 264px;
  height: 264px;
  background: #000000;
  margin-bottom: 67px;

  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.reviews_list--name {
  font-family: $Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.055em;
  color: #1A1A1A;
  margin-bottom: 21px;
}

.reviews_list--rate {
  position: relative;
  width: 126px;

  img {
    position: relative;
    width: 100%;
  }
}

.reviews_list--quote {
  margin-top: 28px;
  p {
    font-family: $Montaga;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
  }
}