.shop_products {
  padding-top: 120px;
  margin-top: 44px;

  .container {
    display: flex;
    flex-direction: column;
  }


  h1 {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #000000;
  }
}

.shop_filters {
  align-self: flex-end;
  position: relative;
  z-index: 55;

  .shop_filters--box {
    position: relative;
    min-width: 106px;
    cursor: pointer;

    &:hover {
      .shop_filters--list {
        opacity: 1;
        visibility: visible;
      }
    }

    &:after {
      position: absolute;
      bottom: -10px;
      left: 0;
      content: '';
      height: 3px;
      width: 100%;
      background: #000;
    }

    span {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      position: relative;
      display: block;

      &:after {
        position: relative;
        top: 0;
        right: -15px;
        content: url("/img/filter-arrow.svg");
        width: 5px;
        height: auto;
      }
    }

    .shop_filters--list {
      position: absolute;
      top: 40px;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 320px;
      background: #fff;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      padding: 20px 20px;
      opacity: 0;
      visibility: hidden;
      transition: opacity .4s ease-in-out, visibility .4s ease-in-out;

      span {
        margin: 8px 0;
        position: relative;
        display: block;

        &:hover {
          &:before {
            width: 100%;
          }
        }

        &:before {
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 0;
          height: 1px;
          content: '';
          background: #000;
          transition: width .4s ease-in-out;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:after {
          content: '';
        }
      }
    }
  }
}

.shop_products--list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.shop_p--l_item--wrap {
  width: calc(33% - 80px);
  margin: 0 40px 80px;
}

.shop_p--l_item {
  display: flex;
  flex-direction: column;
  align-items: center;


  .shop_p--l_item--image {
    width: 100%;
    max-width: 240px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 350px;

    img {
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  .shop_p--l_item--name {
    text-align: center;
    margin-bottom: 10px;

    span {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      color: #1A1A1A;
    }
  }

  .shop_p--l_item--price {
    text-align: center;
    margin-bottom: 15px;

    span {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.04em;
      color: #000000;
    }
  }
}

.shop_products--reviews {
  position: relative;
  margin-top: 60px;
  margin-bottom: 85px;
}

.shop_products--reviews_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(230, 230, 230, 0.27);
  padding: 110px 100px 50px;
}

.shop_products--reviews_box--wrap {
  display: flex;

  .reviews_box--item {
    width: 50%;
    margin-right: 118px;
    &:nth-child(2) {
      margin-right: 0;
    }

    .reviews_box--item_title {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      letter-spacing: -0.015em;
      color: #000000;
      position: relative;
      margin-bottom: 50px;

      &:before {
        position: absolute;
        bottom: -25px;
        left: 0;
        width: 100%;
        height: 3px;
        background: #00A7F2;
        content: '';
      }

    }
  }
}

.reviews_box--item_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews_box--item_quote {
  font-family: $Montaga;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 22px;
}

.reviews_box--item_author {
  position: relative;

  span {
    position: relative;
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.055em;
    color: #1A1A1A;

    &:before {
      position: absolute;
      content: '';
      left: -20px;
      top: calc(50% - 1px);
      width: 10px;
      height: 2px;
      background: #000000;
    }
  }
}