.support_fs {
  padding: 180px 0 120px;
  position: relative;
  min-height: 689px;
  display: flex;
  align-items: center;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 2;
  }

  .support_fs--bg {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .support_fs--left {
    width: 100%;
    max-width: 322px;

    h1 {
      font-family: $Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 51px;
      letter-spacing: -0.01em;
      color: #FFFFFF;
      margin-bottom: 45px;
    }

    p {
      font-family: $Montaga;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      margin-bottom: 45px;
    }
  }
}

.support_list {
  position: relative;
  padding: 92px 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .support_list--box {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .support_list--item {
    width: 100%;
    position: relative;
    margin-bottom: 28px;

    &.active {
      .support_list--top {
        .support_list--btn {
          transform: rotate(-180deg);
        }
      }
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background: #000;
    }

    .support_list--top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px 20px;
      cursor: pointer;

      p {
        font-family: $Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
      }

      .support_list--btn {
        position: relative;
        transform: rotate(0);
        transition: transform .4s ease-in-out;
      }
    }
  }

  .support_list--answer {
    padding: 10px 20px;
  }

  .support_list--answer_wrap {
    display: none;
  }

  .support_list--email {
    margin-top: 60px;
    text-align: center;
    font-family: $Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #1A1A1A;
  }
}