<footer>
    <div class="container">
        <div class="footer_left">
            <a href="#" class="footer_logo">
                <img src="img/footer_logo.png" alt="">
            </a>
            <div class="footer_form">
                <p>Let’s stay in touch</p>
                <form>
                    <input type="email" placeholder="Enter Email Address" required autocomplete="off">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div class="footer_right">
            <div class="social">
                <a href="#">
                    <img src="img/instagram.png" alt="">
                </a>
                <a href="#">
                    <img src="img/twitter.png" alt="">
                </a>
                <a href="#">
                    <img src="img/facebook.png" alt="">
                </a>
                <a href="#">
                    <img src="img/youtube.png" alt="">
                </a>
            </div>
            <nav>
                <div class="nav_item">
                    <a href="#">Shop</a>
                    <a href="#">Cleanse</a>
                    <a href="#">Moisturize</a>
                    <a href="#">Resurface</a>
                </div>
                <div class="nav_item">
                    <a href="#">About</a>
                    <a href="#">Ingredients</a>
                    <a href="#">Reviews</a>
                    <a href="#">Support</a>
                </div>
            </nav>
        </div>
    </div>
    <p class="copyright">© Copyright 2020 ARES. All Rights Reserved.</p>
</footer>

<div class="popup popup_login">
    <div class="popup_wrap">
        <div class="popup_close">
            <i></i>
            <i></i>
        </div>
        <h4 class="popup_title">Login</h4>
        <p class="popup_description">Please sign in to continue</p>

        <form class="popup_form">
            <div class="popup_input input_email">
                <input type="email" placeholder="Email" required>
            </div>
            <div class="popup_input input_password">
                <input type="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn_black">
                <span>Login</span>
            </button>
        </form>

        <p class="popup_footer--info">Don’t have an account? <a href="#" class="sign_up">Sign up</a></p>
    </div>
</div>

<div class="popup popup_sign">
    <div class="popup_wrap">
        <div class="popup_close">
            <i></i>
            <i></i>
        </div>
        <h4 class="popup_title">Create Account</h4>

        <form class="popup_form">
            <div class="popup_input input_name">
                <input type="text" placeholder="Full Name" required>
            </div>
            <div class="popup_input input_email">
                <input type="email" placeholder="Email" required>
            </div>
            <div class="popup_input input_password">
                <input type="password" placeholder="Password" required>
            </div>
            <div class="popup_input input_password">
                <input type="password" placeholder="Confirm Password" required>
            </div>
            <button type="submit" class="btn_black">
                <span>Sign up</span>
            </button>
        </form>

        <p class="popup_footer--info">Already have an account? <a href="#" class="sign_in login">Sign in</a></p>
    </div>
</div>

<div class="popup popup_trial">
    <div class="popup_wrap">
        <div class="popup_close">
            <i></i>
            <i></i>
        </div>
        <h4 class="popup_title">How our free trial works!</h4>
        <p class="popup_description">It’s actually a no commitment free trial! But here is how it works just in
            case:</p>

        <div class="popup_trial--wrap">
            <div class="popup_trial--item">
                <div class="popup_trial--item_icon">
                    <img src="img/trial_calendar.png" alt="">
                </div>
                <div class="popup_trial--item_info">
                    <p>Try your first month of products on us. If you’re not loving the experience, cancel your
                        subscription at anytime in your account settings during your trial.</p>
                </div>
            </div>

            <div class="popup_trial--item">
                <div class="popup_trial--item_icon">
                    <img src="img/trial_rotate.png" alt="">
                </div>
                <div class="popup_trial--item_info">
                    <p>If you choose to not cancel, in 30 days, we’ll ship you a new larger, subscription box for $00.00
                        (a 32% discount to retail price!). Your box will be shipped and billed every 2 months.</p>
                </div>
            </div>

            <div class="popup_trial--item">
                <div class="popup_trial--item_icon">
                    <img src="img/trial_edit.png" alt="">
                </div>
                <div class="popup_trial--item_info">
                    <p>You can delay an order, add or remove products to your box at any time</p>
                </div>
            </div>
        </div>

        <a href="#" class="btn_black"><span>Continue to Trial - $ 00.00</span></a>
    </div>
</div>

<div class="preloader">
    <div class="logo">
        <img src="img/logo-black.png" alt="">
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $(document).ready(function () {
        //прикрепляем клик по заголовкам acc-head
        $('.support_list .support_list--top').on('click', f_acc);
    });

    function f_acc() {
//скрываем все кроме того, что должны открыть
        $('#support_list .support_list--answer').not($(this).next()).slideUp(500).parent().toggleClass('active');
// открываем или скрываем блок под заголовоком, по которому кликнули
        $(this).next().slideToggle(500).parent().toggleClass('active');
    }


    if ($(window).width() < 960) {
        $('.home_page--product_slider').slick({
            dots: true,
            speed: 500,
            infinite: true,
            slidesToShow: 2,
            centerPadding: 40,
            arrows: true,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 440,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    }

    $('.solutions_slider').slick({
        dots: true,
        speed: 500,
        infinite: true,
        slidesToShow: 2,
        centerPadding: 60,
        arrows: true,
        slidesToScroll: 1,
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
        ]
    });
</script>
<script src="/dist/js/main.js"></script>