<header>
    <div class="header_top">
        <p>Get Your Free Trial Today</p>
    </div>
    <div class="container">
        <div class="header_left">
            <a href="./index.html" class="header_logo">
                <img src="img/header_logo.png" alt="">
            </a>
            <nav>
                <a href="/shop.html">Shop</a>
                <a href="/support.html">Help</a>
            </nav>
        </div>

        <div class="header_right">
            <a href="#" class="login">Login</a>
            <div class="cart">
                <span>0</span>
                <img src="/img/cart.svg" alt="">
            </div>
            <div class="mobile_menu">
                <div class="burger">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
                <div class="mobile_menu--list">
                    <a href="/shop.html">Shop</a>
                    <a href="/support.html">Help</a>
                </div>
            </div>
        </div>
    </div>
</header>