$urlPath: "../../";

$breakMobile: 768px;
$breakTablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;

/*color*/
$white: #fff;
$black: #1A1A1A;
/*fonts*/
$Roboto: 'Roboto';
$Montserrat: 'Montserrat';
$Montaga: 'Montaga';
/*effects*/
$time: .4s easy-in-out;